body{
    background-image: url(hobbiesbackground.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}
header{
    text-align: center;
    text-align: center;
    background-color: gold; 
    margin: auto;
    width: 25%;
    padding: 10px;
}

section{
    text-align: center;
    background-color: gold; 
    margin: auto;
    width: 25%;
    padding: 10px;
}
img {
    display: block;
    margin: 0 auto; /* Center images horizontally */
    max-width: 50%; /* Scale images down if necessary */
    height: auto; /* Maintain aspect ratio */
    border-radius: 25px; /* Optional: Rounded corners for better aesthetics */
}

footer{
    text-align: center;
}
button{
    border-radius: 25px;
}